@using SistemadeVentasOnline.Models.User;
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Finaliza tu compra</h2>
@if (Session["cart"] == null)
{

        <div class="alert alert-danger">
            <strong>No se agregaron productos al carrito!</strong>
        </div>

}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Agregar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Item item in (List<Item>)Session["cart"])
            {
                <tr>
                    <td>@item.Producto.ProductoNombre</td>
                    <td>@item.Cantidad</td>
                    <td>
                        <a href="@Url.Action("AddToCart", "User", new { productId = item.Producto.ProductoId, cantidad= item.Cantidad+1 ,url="Checkout" })">
                            <i class="fa fa-plus"></i>
                        </a>
                        <a href="@Url.Action("DecreaseQty", "User", new { productId = item.Producto.ProductoId })">
                            <i class="fa fa-minus"></i>
                        </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <a class="btn btn-success" href="@Url.Action("CheckoutDetails","User")">Continuar >></a>

}